<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-body text-center">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="title">Sobre Nós</h2>
                            <p class="text-muted">Conheça a equipe por trás do projeto</p>
                        </div>
                    </div>
                    <hr>

                    <div class="row mt-5">
                        
                        <div class="col-md-4 mb-4">
                            <div class="team-member">
                                <img src="bia.jpeg" alt="Davi" class="img-fluid rounded-circle mb-3 shadow" style="width: 150px; height: 150px; object-fit: cover;">
                                <h4>Beatriz</h4>
                                <p class="text-primary font-weight-bold">Desenvolvedora / Líder</p>
                                <p class="text-muted">Full-stack e Scrum Master</p>
                                <a href="https://www.linkedin.com/in/beatriz-schindler-b26476363/" target="_blank" style="text-decoration: none;">
                                    <i class="bi bi-linkedin" style="font-size: 1.5rem; color: #00e88f;"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="team-member">
                                <img src="Davi.jpeg" alt="Davi" class="img-fluid rounded-circle mb-3 shadow" style="width: 150px; height: 150px; object-fit: cover;">
                                <h4>Davi</h4>
                                <p class="text-primary font-weight-bold">Desenvolvedor</p>
                                <p class="text-muted">Front-end</p>
                                  <a href="https://www.linkedin.com/in/davi-sobreira-3235b3250/" target="_blank" style="text-decoration: none;">
                                    <i class="bi bi-linkedin" style="font-size: 1.5rem; color: #00e88f;"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="team-member">
                                <img src="joao.jpeg" alt="João" class="img-fluid rounded-circle mb-3 shadow" style="width: 150px; height: 150px; object-fit: cover;">
                                <h4>João</h4>
                                <p class="text-primary font-weight-bold">Desenvolvedor</p>
                                <p class="text-muted">Back-end e Dev-Ops</p>
                                  <a href="https://www.linkedin.com/in/joao-girardi/" target="_blank" style="text-decoration: none;">
                                    <i class="bi bi-linkedin" style="font-size: 1.5rem; color: #00e88f;"></i>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>