<br><br>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                <div class="headerDashboard">
                    <div class="card-title">
                        <div class="header">
                            <div class="title">Relatório</div>
                            <ul>
                                
                                <li>Clique no ícone da lupa para buscar o que deseja </li> 
                            </ul>
                        </div>
                    </div>
                    @if(loginService.hasPermission("Admin")){
                        <div id="imprimirRelatorio" class="botaoImprimirRelatorio">
                            <a id="imprimirRelatorio" class="btn btn-primary" (click)="imprimirRelatorio()"> 
                                <i class="bi bi-plus-circle-fill"></i>
                                Imprimir
                            </a>
                        </div> 
                    }  
                </div>
                <hr>
                <div class="filtrosEquipamentos">
                    <div class="inputs">
                        <mdb-form-control>
                            <input mdbInput  type="text" id="patrimonio" [(ngModel)]="patrimonio"  name="patrimonio" class="form-control"/>
                            <label mdbLabel class="form-label" for="patrimonio">Patrimônio</label>
                        </mdb-form-control>
                    </div>
                    <div class="inputs">
                        <mdb-form-control>
                            <input mdbInput  type="text" id="ra" [(ngModel)]="ra" name="ra" class="form-control"/>
                            <label mdbLabel class="form-label" for="ra">RA do Aluno</label>
                        </mdb-form-control>
                    </div>
                    <div class="inputs">
                        <mdb-form-control>
                            <input mdbInput type="text" id="usuario" [(ngModel)]="usuario" name="usuario" class="form-control"/>
                            <label mdbLabel class="form-label" for="usuario">Operador</label>
                        </mdb-form-control>
                    </div>
                    <div class="inputs">
                        <mdb-form-control>
                            <input mdbInput type="text" id="dataRetirada" [(ngModel)]="dataRetirada" mask="00-00-0000" [dropSpecialCharacters]="false" name="dataRetirada" class="form-control"/>
                            <label mdbLabel class="form-label" for="dataRetirada">Data de Retirada</label>
                        </mdb-form-control>
                    </div>
                    <div class="inputs">
                        <mdb-form-control>
                            <input mdbInput type="text" id="dataDevolucao" [(ngModel)]="dataDevolucao"  mask="00-00-0000" [dropSpecialCharacters]="false" name="dataDevolucao" class="form-control"/>
                            <label mdbLabel class="form-label" for="dataDevolucao">Data de Devolução</label>
                        </mdb-form-control>
                    </div>
                    <div class="inputs">
                        <select class="form-select" [(ngModel)]="situacao"  name="situacao" aria-label="Default select example">
                            <option value="" disabled selected hidden>Selecione a Situação</option>
                            <option value="Em Andamento">Em Andamento</option>
                            <option value="Encerrado">Encerrado</option>
                        </select>
                    </div>
                    <a class="btn btn-primary" (click)="filtrarCampos()"><i class="bi bi-search"></i></a>
                    <a class="btn btn-primary" (click)="limparCampos()"><i class="bi bi-x-circle"></i></a>
                </div>
                <br>
                <div id="pdfContent">
                    <div class="header-container">
                        <img class="logo-container" src="assets/logo.png" alt="Logo">
                        <span class="relatorio-title">RELATÓRIO DE EQUIPAMENTOS EMPRESTADOS</span>
                    </div>
                  <table id="relatorioList" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Patrimônio</th>
                            <th>RA</th>
                            <th>Aluno</th>
                            <th>Operador</th>
                            <th>Data Retirada</th>
                            <th>Data Devolução</th>
                            <th>Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (emprestimo of lista; track $index) {
                            <tr>
                                <td>{{emprestimo.equipamento.patrimonio}}</td>
                                <td>{{emprestimo.aluno.ra}}</td>
                                <td>{{emprestimo.aluno.nome}}</td>
                                <td>{{emprestimo.usuario.nome}}</td>
                                <td>{{emprestimo.dataRetirada | date: 'dd-MM-yyyy HH:mm'}}</td>
                                <td>{{emprestimo.dataDevolucao | date: 'dd-MM-yyyy HH:mm'}}</td>
                                <td>
                                    @if(emprestimo.situacao === "Em Andamento"){
                                        <span class="text-red">{{emprestimo.situacao}}</span>
                                    }@else {
                                        {{emprestimo.situacao}}
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                  </table>
                  <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  <div>
                    Página: {{ p }}
                  </div> -->
                </div>
            </div>
            </div>
            
        </div>
 
    </div>

