<br><br>
<div class="container">
	<div class="row">
		<div>
			<div class="card-title">
				<div class="header">
					<div class="title">Bem Vindo ao EasyNote</div>
					<ul>
						 
						 
					</ul>
				</div>
			 
			</div>
			<div class="graficos-div">
				<!-- Emprestimos por Patrimonio -->

				<div class="chart-field">
					<div class="card-body">
						<div class="headerDashboard">
							<div class="card-title chart-option">
								<h3>Empréstimos por Dia</h3>
								<select mdbInput id="periodo" name="periodo" class="form-control" (change)="onPeriodoChange($event)">
									<option value="7">7 dias</option>
									<option value="15">15 dias</option>
									<option value="30" selected>30 dias</option>
								</select>
							</div>
						</div>
						<br>
						<ngx-charts-bar-vertical
							[view]="[800, 400]"
							[scheme]="colorScheme"
							[results]="emprestimosPorDia"
							[xAxis]="true"
							[yAxis]="true"
							[legend]="false"
							[showXAxisLabel]="true"
							[showYAxisLabel]="true"
							xAxisLabel="Equipamento"
							yAxisLabel="Total"
						></ngx-charts-bar-vertical>
					</div>
				</div>

				<div class="flex-div">

					<!-- Cursos com mais Utilizações -->
					<div class="top-chart-field">
						<div class="card-body">
							<div class="headerDashboard">
								<div class="card-title">
									<h5>Cursos com mais Utilizações</h5>
								</div>
							</div>
						</div>
						<ngx-charts-bar-horizontal
							[view]="[450, 250]"
							[scheme]="colorScheme"
							[results]="emprestimosPorCurso"
							[xAxis]="true"
							[yAxis]="true"
							[legend]="false"
							[showXAxisLabel]="true"
							[showYAxisLabel]="true"
							xAxisLabel="Total"
							yAxisLabel="Cursos"
						></ngx-charts-bar-horizontal>
					</div>

					<!-- o ultimo pequeno sobre os equipamentos mais usados, fica ao seu criterio. -->
					<div class="chart-field">
						<div class="card-body">
							<div class="headerDashboard">
								<div class="card-title">
									<h5>Equipamentos mais Emprestados</h5>
								</div>
							</div>
						</div>
						<ngx-charts-bar-horizontal
							[view]="[450, 150]"
							[scheme]="colorScheme"
							[results]="emprestimosPorPatrimonio"
							[xAxis]="true"
							[yAxis]="true"
							[legend]="false"
							[showXAxisLabel]="true"
							[showYAxisLabel]="true"
							xAxisLabel="Total"
							yAxisLabel="Patrimônio"
						></ngx-charts-bar-horizontal>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>