:host {
    background-color: #f0f0f0;
    display: block;
    height: 100vh;
  }

.graficos-div{
  display: flex;
  flex-direction: row;
}

.big-chart{

  margin: 10px 10px 10px 0;
}

.small-chart{
  margin: 10px 10px 10px 0;

}

 