<br><br><br>
<div class="container">
    <div class="row">
        <div class="grafico">

            <div class="col-md-1">
                <!-- gafico 1, o maior deles. ajudar col-md e css. Grafico de barra ou de linha(tipo aqueles financeiro). 
                 bia disse q e pra ver emprestimo por dia -->
                <div class="card">
                    <div class="card-body">
                    <div class="headerDashboard">
                        <div class="card-title">
                            <div class="header">
                                <div class="title">Relatório</div>
                                <ul>
                                    <li>Clique 'Enter' para utilizar os filtros</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- grafico 2, um pouco menor, mudar col tb. Pode ser um grafico de pizza sobre os cursos. -->
                <div class="card">
                    <div class="card-body">
                    <div class="headerDashboard">
                        <div class="card-title">
                            <div class="header">
                                <div class="title">Relatório</div>
                                <ul>
                                    <li>Clique 'Enter' para utilizar os filtros</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
            <div class="col-md-1"> 
                <!-- o ultimo pequeno sobre os equipamentos mais usados, fica ao seu criterio.
                  pode ser de barrinha vertical(bia que quis assim), por mim pode ser horizontal -->
                <div class="card">
                    <div class="card-body">
                    <div class="headerDashboard">
                        <div class="card-title">
                            <div class="header">
                                <div class="title">Relatório</div>
                                <ul>
                                    <li>Clique 'Enter' para utilizar os filtros</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
       
    </div>
</div>