<div class="container">
	<div class="glass-effect"></div>
	<!-- Efeito de vidro cobrindo a parte esquerda -->

	<div class="row">
		<div class="col-md-5 col-sm-12">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Login</h3>
					<br />
					<form>
						<mdb-form-control>
							<input
								mdbInput
								type="text"
								id="form1"
								name="usuario"
								required
								class="form-control"
								[(ngModel)]="login.usuario"
							/>
							<label mdbLabel class="form-label" for="form1">Usuário</label>
						</mdb-form-control>
						<br />
						<mdb-form-control>
							<input
								mdbInput
								type="password"
								id="form1"
								name="senha"
								required
								class="form-control"
								[(ngModel)]="login.senha"
								(keydown.enter)="autenticar()"
							/>
							<label mdbLabel class="form-label" for="form1">Senha</label>
						</mdb-form-control>
						<br />
						<button type="button" (click)="autenticar()" class="btn btn-primary">Entrar</button>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-7 col-sm-12">
			
			<video #loginVideo autoplay muted loop id="video-background" class="w-100 h-100">
				<source src="/assets/the-hacking-experience.mp4" type="video/mp4" />
				Seu navegador não suporta o vídeo em HTML5.
			</video>
			
		</div>
	</div>
	
</div>
<!-- Número da versão -->
<div class="app-version">v2.2.0</div>


