html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.glass-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%; /* O efeito de vidro cobre apenas 50% da tela, no lado esquerdo */
  height: 100%; 
  background: #ffffff1a; 
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.card {
  position: relative;
  background: #ffffff5a; 
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 400px; /* Tamanho máximo fixo */
  height: auto; /* Altura automática */
  padding: 20px;
  color: white;
  margin: 30% auto 0 auto; /* Centraliza o cartão verticalmente e horizontalmente dentro da coluna */
  z-index: 1;
}

.card-body {
  margin-top: 30px;
}

input[mdbInput] {
  background-color: white; 
  color: black;
}

input.form-control {
  background-color: rgba(255, 255, 255, 0.9); 
  color: #333; 
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    max-width: 90%;
    margin-top: 20px;
  }

  .card-body {
    margin-top: 10px;
  }
}
