<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12 main-content">
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="header">
                            <div class="title">Empréstimo <br>Notebook</div>
                            <ul>
                                <li>Digite o RA do aluno e o Patrimônio do equipamento para iniciar empréstimo</li>
                                <li>Informe apenas o patrimônio para encerrar o empréstimo</li>
                            </ul>
                        </div>
                        <hr>
                    </div>
                    <form #newEmprestimo="ngForm">
                        <div class="camposAlinhados">
                            <div class="img">
                                <img src="avatar.svg" class="img-fluid rounded-circle" alt="" />
                            </div>
                        
                            <div class="inputs">
                                <mdb-form-control>
                                    <input mdbInput type="text" [(ngModel)]="aluno.ra" id="raAluno" (blur)="findAlunoByRa()" name="ra" class="form-control" required tabindex="1"/>
                                    <label mdbLabel class="form-label" for="raAluno">RA do Aluno</label>
                                </mdb-form-control>
                                <br>
                                <mdb-form-control>
                                    <input mdbInput type="text" id="patEquip" [(ngModel)]="equipamento.patrimonio" (blur)="findEquipamentoByPatrimonio()" name="patrimonio" class="form-control" required tabindex="2"/>
                                    <label mdbLabel class="form-label" for="patEquip">Patrimônio do Equipamento</label>
                                </mdb-form-control>
                                <br>
                                <mdb-form-control>
                                    <input mdbInput type="text" id="obs" [(ngModel)]="emprestimo.observacao" name="observacao" class="form-control" style="height: 98px;" tabindex="3"/>
                                    <label mdbLabel class="form-label" for="obs">Observação</label>
                                </mdb-form-control>
                            </div>
                            <div class="inputs">
                                <mdb-form-control>
                                    <input mdbInput type="text" id="formControlReadonly" [(ngModel)]="aluno.nome" name="nome" class="form-control" [readonly]="true"/>
                                    <label mdbLabel class="form-label" for="formControlReadonly">Nome do Aluno</label>
                                </mdb-form-control>
                                <br>
                                <mdb-form-control>
                                    <input mdbInput type="text" id="formControlReadonly" [(ngModel)]="aluno.curso" name="curso" class="form-control" [readonly]="true"/>
                                    <label mdbLabel class="form-label" for="formControlReadonly">Curso do Aluno</label>
                                </mdb-form-control>
                                <br>
                                <mdb-form-control>
                                    <input mdbInput type="text" id="formControlReadonly" [(ngModel)]="equipamento.marca" name="marca" class="form-control" [readonly]="true"/>
                                    <label mdbLabel class="form-label" for="formControlReadonly">Marca do Equipamento</label>
                                </mdb-form-control>
                                <br>
                                <mdb-form-control>
                                    <input mdbInput type="text" id="formControlReadonly" [(ngModel)]="equipamento.modelo" name="modelo" class="form-control" [readonly]="true"/>
                                    <label mdbLabel class="form-label" for="formControlReadonly">Modelo do Equipamento</label>
                                </mdb-form-control>
                            </div>
                        </div>
                        <div class="alinharBotoes">
                            <div class="buttons"> 
                                <button class="btn btn-success" [disabled]="!newEmprestimo.valid || emprestimoEncontrado" (click)="iniciarEmprestimo()" tabindex="4">Iniciar Empréstimo</button>
                                <button class="btn btn-danger" (click)="encerrarEmprestimo()" tabindex="5">Encerrar Empréstimo</button>
                                <button class="btn btn-primary" (click)="limparCampo()" tabindex="6">Limpar Campos</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
