:host {
    background-color: #f0f0f0;
    display: block;
    height: 100vh;
  }

.header {
    display: flex; /* Faz o título e o parágrafo ficarem lado a lado */
    align-items: center; /* Centraliza verticalmente os itens */
}

.title {
    font-size: 20px; /* Reduzir tamanho do título */
    color: #333;
    border-radius: 7px;
    background: #00E88F;
    display: inline-block; /* Para permitir o texto ficar ao lado */
    padding: 5px 10px; /* Ajuste o padding conforme necessário */
    box-sizing: border-box;
    font-weight: bold; /* Deixa o texto em negrito */
    margin-bottom: 10px; /* Espaço entre o título e o parágrafo */
    margin-right: 20px; /* Espaço à direita do título */
}

 